results/*
results_prospective/*
sim_inf_data/*
data_handling/*
GAN_motion_correction_sept2023/*
results_prospective_9_1_23/*
results_sim/*
results_sim_8_25_23/*
results_sim_9_1_23/*
results_sim_9_2_23/*
results_sim_9_13_23/*